body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(184deg, #8754ff, #8E2DE2);
  align-items: center;
  height: 100vh;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

#heading {
  background-color: #d2d80f;
  padding: 1.8em 2.1em;
  border-radius: 0.6em;
}

th,
td {
  padding: 0.5rem 1rem;
  text-align: center;
  border: 1px solid #ccc;
  font-weight: bold;
}

th {
  background-color: tomato;
}

td {
  background-color: white;
}

table tr:hover {
  background-color: #f2f2f2;
}

@media only screen and (orientation: landscape) {

  table th,
  table td {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}